<div class="control-panel"
  ng-init="vm.panel = 'scanning'">
  <div class="tabs">
    <div class="tab"
      ng-class="{'selected':vm.panel == 'scanning'}"
      ng-click="vm.panel = 'scanning'">Scanning
    </div>
    <div class="tab"
      ng-class="{'selected':vm.panel == 'shell'}"
      ng-click="vm.panel = 'shell'">Shell
    </div>
  </div>
  <div ng-show="vm.panel == 'scanning'">
    <br>
    <label>Presets:</label>
    <div>
      <div class="title">Select preset</div>
      <select ng-change="vm.changePreset()"
        ng-model="vm.data.selectedPreset">
        <option />
        <option ng-repeat="item in vm.data.presets track by item.name">{{item.name}}</option>
      </select>
      <input type="button"
        ng-click="vm.renamePreset(vm.data.selectedPreset)"
        value="Rename">
      <input type="button"
        ng-click="vm.deletePreset(vm.data.selectedPreset)"
        value="Delete">
    </div>
    <br>
    <div>
      <div class="title">New preset</div>
      <input type="text"
        ng-model="vm.newPreset">
      <input type="button"
        ng-click="vm.saveNewPreset()"
        value="Save">
    </div>
    <br>
    <label>Photo:</label>
    <div class="option"
      ng-repeat="option in vm.data.options">
      <div ng-if="option.type == 'int'">
        <div class="title">{{option.label}}</div>
        <input ng-change="vm.change()"
          type="number"
          ng-model="option.value"
          min="{{option.rangeMin}}"
          max="{{option.rangeMax}}">
      </div>
      <div ng-if="option.type == 'string'">
        <div class="title">{{option.label}}</div>
        <input ng-change="vm.change()"
          type="text"
          ng-model="option.value">
      </div>
      <div ng-if="option.type == 'list'">
        <div class="title">{{option.label}}</div>
        <select ng-change="vm.change()"
          type="text"
          ng-model="option.value">
          <option />
          <option ng-repeat="item in option.list">{{item}}</option>
        </select>
      </div>
    </div>
    <br>
    <label>Lights:</label>
    <div>
      <div>
        <div class="title">Start (ms):</div>
        <input ng-change="vm.change()"
          type="number"
          ng-model="vm.data.lightSettings.lightStart"
          min="{{option.rangeMin}}"
          max="{{option.rangeMax}}">
      </div>
      <div>
        <div class="title">Finish (ms):</div>
        <input ng-change="vm.change()"
          type="number"
          ng-model="vm.data.lightSettings.lightFinish"
          min="{{option.rangeMin}}"
          max="{{option.rangeMax}}">
      </div>
    </div>
    <br>
    <label>Projector:</label>
    <div>
      <div>
        <div class="title">Start (ms):</div>
        <input ng-change="vm.change()"
          type="number"
          ng-model="vm.data.lightSettings.projectorStart"
          min="{{option.rangeMin}}"
          max="{{option.rangeMax}}">
      </div>
      <div>
        <div class="title">Finish (ms):</div>
        <input ng-change="vm.change()"
          type="number"
          ng-model="vm.data.lightSettings.projectorFinish"
          min="{{option.rangeMin}}"
          max="{{option.rangeMax}}">
      </div>
    </div>
    <div class="commands">
      <form>
        <div class="group">
          <div>Output command</div>
          <button ng-click="vm.setupConfig()" id="setup">Setup config</button>
          <button ng-click="vm.execute()" id="execute">Execute</button>
          <button ng-click="vm.softExecute()"
            id="execute">Execute (soft)
          </button>
        </div>
      </form>
    </div>
  </div>
  <div ng-show="vm.panel == 'shell'">
    <div class="commands">
      <form>
        <div class="group">
          <div class="title">Update file</div>
          <br>
          <lable>URL</lable>
          <input ng-model="vm.updateFileUrl"
            autocomplete="off">
          <br>
          <lable>Destination</lable>
          <input ng-model="vm.updateFileDest"
            autocomplete="off">
          <br>
          <button ng-click="vm.updateFile()" id="shell">Update</button>
        </div>
        <div class="group">
          <div class="title">Shell command</div>
          <br>
          <lable>Command</lable>
          <input ng-model="vm.shellCommand"
            autocomplete="off">
          <br>
          <button ng-click="vm.execShell()" id="shell">Shell</button>
        </div>
        <div class="group">
          <br>
          <div>Result:</div>
          <div>
            <div ng-repeat="str in vm.shellFeedback.data">{{str.item}}</div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
