<div>
  <div class="commands" ng-show="!vm.data.session">
      <div class="group">
        <div class="title">User Data</div>
        <br>

        <lable>Comments</lable>
        <input ng-model="vm.comments" autocomplete="off" />
        <br>
        <br>

        <lable>Size(sm)</lable>
        <input ng-model="vm.size" autocomplete="off" />
        <br>
        <br>

        <lable>City</lable>
        <select ng-change="vm.changeCity()" ng-model="vm.city">
          <option ng-repeat="item in vm.cities">{{item}}</option>
        </select>
        <br>
        <br>

        <button ng-if="!vm.data.isBusy" ng-click="vm.saveSessionSettings()">New client</button>
      </div>
  </div>
  <div class="commands" ng-show="vm.data.session">
      <div class="group">
        <div class="title">User Data</div>
        <br>
        <lable>Session ID</lable>
        <span>{{vm.data.session.id}}</span>
        <br>


        <lable>Comments</lable>
        <span>{{vm.comments}}</span>
        <br>
        <lable>Size(sm)</lable>
        <span>{{vm.size}}</span>
        <br>


        <button ng-if="!vm.data.isBusy" ng-click="vm.closeSession()">Close</button>
      </div>
  </div>
</div>
